*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
#cima{
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
}
header{
    background-color: #91C35A;
    height: 150px;
}
#header img{
    width: 120px;
    margin-top: 20px;
    border-radius: 100px;
    margin-left: 50px;
}
#header2 img{
    margin-left: 10px;
    width: 250px;
    margin-top: 30px;
}
#main{
    background-color: whitesmoke;
}
#formulario{
    width: 400px;
    margin-left: 370px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
.input{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 12px;
}
#botoes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
#resultado{
    margin-top: 20px;
    border-radius: 20px;
    font-size: 1em;
}
#resultado2{
    margin-top: 20px;
    border-radius: 20px;
    font-size: 1.2em;
}
main #a{
    padding: 30px;
}

.input input{
    padding: 5px;
    border-radius: 10px;
    border-color: rgba(2, 2, 2, 0.226);
}
#formulario h2{
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}

#menu{
    text-align: center;
    margin-top: 60px;
    background-color: whitesmoke;
    padding: 10px;
    width: 600px;
    margin-left: 300px;
    height: 300px;
    border-radius: 20px;
}

#menu h1{
    margin-top: 50px;
    margin-bottom: 30px;
}
#menu button{
    background-color: white;
    border: none;
    padding: 25px;
    border-radius: 20px;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

}
#menu #na{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#botoes #enviar button{
    padding: 10px;
    margin-left: 110px;
    background-color: #91C35A;
    border-radius: 10px;
    border: none;
    color: white;
}
#botoes #apagar button{
    padding: 10px;
    margin-left: 20px;
    background-color: #E57C32;
    border-radius: 10px;
    border: none;
    color: white;
}

.botao:hover button{
    cursor: pointer;

}